[submodule "external/estl"]
	path = external/estl
	url = https://github.com/LuxAtrumStudio/estl
[submodule "external/entis"]
	path = external/entis
	url = https://github.com/LuxAtrumStudio/entis
[submodule "external/libpng"]
	path = external/libpng
	url = https://github.com/glennrp/libpng
